@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  /* Bạn có thể đặt các biến global ở đây nếu cần */
  --default-layout-header-height:60px;
  --default-layout-width:1150px;
  --default-layout-horizontal-spacer:24px;

  --black:#000;
  --text-color:#161823;
  --white:#fff;
  --primary:#FE2C55;
}

 
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
button,input[tabindex]{
  border: none;
  outline: none;
}
a[href]
{
  color:var(--text-color);
  text-decoration: none;
}
//custom tooltip
body{
  .tippy-box{
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
    background-color: rgba(84,84,84,0.92);
  }
  .tippy-arrow{
    color:rgba(84,84,84,0.92);
   
  }
  .tippy-content{
    padding: 4px 9px
  }
  .tippy-box{
    top:-8px
  }
} 